[tool.poetry]
name = "Eric"
description = "A lightweigth message dispatcher based on SSE protocol data transfer objects format"
version = "0.0.0"
authors = ["Luca Stretti <laxertu@gmail.com>"]

[tool.poetry.dependencies]
python = ">= 3.10"
asyncio = ">= 3.4.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.test]
[tool.poetry.group.test.dependencies]
pytest = {version = ">= 8.3.2", optional = true}

